* {
    background: aliceblue;
}

/* Removes Arrows for input=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Overall top section of page */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* Tab design (active & non-active) */
.topnav a {
  float: left;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

/* Box color/effect when hovering over */
.topnav a:hover {
  background-color: #111111;
  color: white;
}

/* Tab design (active, overrides a) */
/*
.topnav a.active {
  background-color: #333333;
  color: white;
  border: none;
}
*/

input[type=text]{
    background-color: white;
    margin: 4px;
    outline: none;
}

input[type=number]{
    background-color: white;
    margin: 4px;
    outline: none;
}

.collapsible {
  background-color: slategrey;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: small;
}

.collapsible:hover, .collapsible:active {
  background-color: DarkSlateGray;
}

.collapsible:after {
  content: '\02C5';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

button {
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: Azure;
    padding: 12px 40px;
    border-radius: 4px;
}

footer {
    position: absolute;
    padding: 5px;
    bottom: 0;
    text-align: center;
}
