* {
    background: aliceblue;
}

/* Removes Arrows for input=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: none;
    width: 35%;
    height: 14px;
    background: gainsboro;
    outline-color: steelblue;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
  width: 8px;
  height: 14px;
  background: indianred;
}

input::-moz-range-thumb {
  pointer-events: none;
  width: 8px;
  height: 8px;
  background: indianred;
}

#userInput {
  background-color: aliceblue;
  margin: 25px auto;
  padding: 10px;
  width: 80%;
  min-width: 300px;
}

/* Overall top section of page */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* Tab design (active & non-active) */
.topnav a {
  float: left;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

/* Box color/effect when hovering over */
.topnav a:hover {
  background-color: #111111;
  color: white;
}

/* Tab design (active, overrides a) */
/*
.topnav a.active {
  background-color: #333333;
  color: white;
  border: none;
}
*/

input[type=text]{
    background-color: white;
    margin: 4px;
    outline: none;
}

input[type=number]{
    background-color: white;
    margin: 4px;
    outline: none;
}

input.invalid {
  background-color: pink;
}
/* Hide nonactive form pages*/
.tab {
  display: none;
}

/* Circles to show progess, change to something else maybe*/
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

button {
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: Azure;
    padding: 12px 40px;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

select{
	background-color: white;
}

select option{
	background-color: white;
}